.progress-bar{
    width: 90%;
    margin: 50px;
    align-items: center;
    
}

.progress{
    position: relative;
    width:45%;
    height: 80%;
    background: lightgray;
    border-radius: 5px;
    overflow: hidden;
}

/* js will adjust the color and width of this as the user inputs calories */
.progress__fill{
    width: 0%;
    background: red;
    color: rgb(195, 255, 0);
    padding-top: 15px;
    padding-bottom: 15px;
}

.progress__text{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bolder 20px'Quicksand';
    color: black;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.list-container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    border: solid;
    border-radius: 5px;
    align-items: center;
    
}

.list-title {
    display: flex;
    align-items: center;
}


.food-icon{
    float: left;
    width: 2em;
    height: 2em;
    padding: 5px;
}

 .content h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.add-item{
    width: 20%;
}

.integer-input {
    width: 20%;
}
/*sign-in popup*/
.popup{
    background: rgba(0, 0,0,0.6);
    backdrop-filter: blur(3px);
    width:100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .popup-content{
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
  }
  #Login{ 
    position: absolute;
    background: white;
    padding: 10px 50px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.4s;
    bottom: 25px; 
    right: 20px;
    
  }
  #Login:hover{
    background-color: lightblue;
  }




/* valid/invalid */
.close{
    padding:5px;
    margin-left: 10px;
    background-color: rgb(0, 195, 255);
  }

  .close:hover{
    background-color: red;
    color:Black;
    transition: 0.2s;
    width: auto;

  }

  input:invalid, input:focus:invalid{
    outline: none;
    background-color: rgba(243, 107, 109, 0.2);
  }
 
 input:valid, input:focus:valid {
    outline: none;
    background-color: none;
 }


@media (max-width:700px) {
    .list-container{
        width: 100%;
        padding: 10px;
        margin: 10px;
        min-width: 300px;
    }

    .add-item, .integer-input{
        width: calc(20%-20px);
        margin-bottom: 10px;
    }

}

